html body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(30deg, rgb(175, 178, 255), rgb(49, 83, 188));
}

@font-face {
  font-family: OutfitRegular;
  src: url(../fonts/static/Outfit-Regular.ttf);
}

@font-face {
  font-family: OutfitBold;
  src: url(../fonts/static/Outfit-Bold.ttf);
}

@media (min-width: 770px) {
  .conteiner {
    width: 500px;
    height: 25vh;
    background-color: transparent;
    border-radius: 16px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1), 0 0 14px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 770px) {
  .conteiner {
    width: 80vw;
    height: 25vh;
    background-color: transparent;
    border-radius: 16px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1), 0 0 14px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

form {
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
    font-family: OutfitRegular;
    color: #ffffff;
    text-align: center;
    margin: 5px;
    font-size: 22px;
}

input {
  background-color: transparent;
  border: 1px solid white;
  color: #ffffff;
  font-size: 12px;
  font-family: OutfitRegular;
  transition: 0.3s;
  width: 80%;
  text-align: center;
}

input:hover {
  transition: 0.3s;
  transform: scale(1.05);
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
}

input:focus {
  outline: none;
}

.create {
  background-color: rgb(255, 255, 255);
  margin: 10px;
  border: none;
  width: 30%;
  height: 4vh;
  border-radius: 8px;
  font-family: OutfitBold;
  color:#1c0031;
  transition: 0.3s;
  cursor: pointer;
  font-size: 9px;
}

.create:hover {
  transition: 0.7s;
  transform: scale(1.1);
}